<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13226756004-c99l5imia92v0o263glnr2fd333kmn50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13226756004-c99l5imia92v0o263glnr2fd333kmn50</string>
	<key>API_KEY</key>
	<string>AIzaSyAUeUBvX1YD7w4lJtsZS0n4-u-EJzMi2IE</string>
	<key>GCM_SENDER_ID</key>
	<string>13226756004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burntoast.butter</string>
	<key>PROJECT_ID</key>
	<string>burntbutter-11357</string>
	<key>STORAGE_BUCKET</key>
	<string>burntbutter-11357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13226756004:ios:0c31a19360dbe98f76e331</string>
	<key>DATABASE_URL</key>
	<string>https://burntbutter-11357.firebaseio.com</string>
</dict>
</plist>